@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body{
    min-width: 800px;
    max-width: 2000px
}
#titulo{
    font-family: 'Caprasimo', cursive;
    font-size: 3em;
}
header{
    background-color: black;
    color: white;
    min-width: 400px;
    max-width: 2000px;
    text-align: center;
    height: 150px;
    padding-top: 6%;
    margin-left: -2.0%;
    margin-top: -3%;
}
#imagem1{
    height: 50vh;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: -50%;
    font-size: 2em;
}
#imagem2{
    height: 50vh;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.paragrafos{
    font-size: 2em;
}
#textoimg1{
    color: white;
    font-size: 150%;
    text-align: left;
    margin-top: -2.5%;
    margin-left: -8%;
}
#img1{
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.527);
    height: 400px;
    position: absolute;
    left: -30vh;
    top: 59vh;
    transform: translateX(50%);
    
}
#textoimg2{
    color: white;
    font-size: 300%;
    text-align: left;
    margin-top: 7%;
    margin-left: -8%;
}
#img2{
    width: 60vh;
    margin-left: -2%;
    background-color: rgba(0, 0, 0, 0.527);
    height: 400px;
    position: absolute;
    left: -20vh;
    top: 198vh;
    transform: translateX(50%);
}
footer{
    background-color: black;
    text-align: center;
    height: 50px;
    color: white;
    margin: auto;
    margin-bottom: -3%;
}
#Final{
    padding-top: 1%;
}